MONGODB_URI=mongodb+srv://gokulprasathk20_db_user:IPqO0fBMCRJvlHpu@cluster0.cs1auwg.mongodb.net/?appName=Cluster0
JWT_SECRET=54gd5d4gf5d1f5d4fd4f
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
PORT=3001
